//overrides bootstrap styling, imported by site.less

/* the start of project custom css */
//original css
:root {
  /* To accommodate navbar-fixed*/
  --clear-top: 60px;
}

body {
  margin-top: var(--clear-top);
  font-family: @paypal-font;
  font-weight: @font-weight;
  font-size: @font-size-base;
  color: @paypal-text;
  background-color: @paypal-button;
  word-spacing: 1px;
}

/* So that headers anchors are not blocked by navbar-fixed
- https://css-tricks.com/hash-tag-links-padding/ */
.anchor:before {
  display: block;
  content: " ";
  margin-top: ~"calc(-1 * var(--clear-top))";
  height: var(--clear-top);
  visibility: hidden;
}


//jumbotron

.jumbotron {
  padding-top: @jumbotron-padding; //30px
  padding-bottom: @jumbotron-padding;
  margin-bottom: @jumbotron-padding;
  color: @paypal-button;
  background-color: @jumbotron-bg; //#eee
  position: relative;
  height: 248px;
  width: 100%;
  background: url("../img/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;


  h1,
  .h1 {
    font-size: @font-size-h1;
  }

  p {
    margin-bottom: (@jumbotron-padding / 2);
    font-size: @font-size-small;
    margin-bottom: 30px;
  }

 .container {
    border-radius: @border-radius-large;
    padding-left:  (@grid-gutter-width / 2); //15px
    padding-right: (@grid-gutter-width / 2);
    width: 400px;
    position: absolute;
    left: 10px;
  }

  .btn {
    font-weight: @font-weight-bold;
    border-radius: 20px;
    font-size: (@font-size-small - 2px);


    &:hover,
    &:focus,
    &.focus {
      color: @paypal-basic;
      text-decoration: none;
      background-color: @paypal-button;
    }
  }
}

//navbar
.navbar{
  min-height: (@navbar-height + 10px);
  max-height: 72px;
  display: inline-block;
}

.navbar-brand img{
  height: 30px;
  width: 30px;
}

.navbar-default {
  background-color: @paypal-basic;
  background-image: linear-gradient(100deg,#0070ba,#1546a0);
  border-color: darken(@paypal-basic, 6.5%);

  .navbar-nav {
    > a {
      color: @paypal-button;
      background-color: transparent;
      border: 1px solid #fff;
      border-radius: 30px;
      font-size: (@font-size-small - 2px);
      font-weight: @font-weight-bold;
      margin-right: 10px;

      &:hover,
      &:focus {
        background-color: fade(@paypal-hover, 25%);
        box-shadow: inset 0 0 0 2px #fff;
      }
    }
  }
}

//page links
.page-nav {
  margin-bottom: -5px;
  margin-left: 10px;

  li a{
  color: @paypal-basic;
  font-weight: @font-weight-bold;
  margin: 10px;
  font-size: @font-size-small;
  }

  &:hover, &:active, &:focus{
    color: #005ea6;
  }

  &:visited{
    color: @paypal-basic;
  }
}

//hr
hr{
  border: 0;
  border-top: 1px solid #b7bcbf;
  width: 100%;
}

//about
.about-container {
  height: 330px;
  padding-top: 50px;

  #about {
  margin: 25px 0;
  text-align: left;
  font-size: (@font-size-h1 - 5px);

  + p {
    text-align: left;
    padding-right: 35px;
    font-size: (@font-size-base - 2px);
    }
  }
}

.about-ex {
  padding-top: 40px;

  img {
    border-radius: 10px;
    border: 1px solid #eee;
  }
}

//how it works
#how-it-works {
  font-size: (@font-size-h1 - 5px);
  padding-bottom: 16px;
  margin-top: -5px;
}

.list-group-item {
  background-color: @paypal-example;
  padding: 6px 14px 7px 53px;
  width: 424px;
  height: 60px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;

  code {
    background-color: @paypal-button;
    color: @paypal-text;
    font-size: (@font-size-small - 3px);
    font-family: @paypal-font;
    position: relative;
    top: 5px;
    display: block;
    width: 347px;
    height: 40px;
    border-radius: 5px;
    padding-top: 10px;
    padding-left: 10px;
  }
}

.how-container{
  width: 100%;
  margin: 0 auto;
  max-width: 424px;
}

#get-started {
  font-family: @paypal-font;
  font-size: (@font-size-h1 - 5px);
}

.get-container {
  margin-top: 10px;
  margin-bottom: 60px;

  .col-sm-4 {
    margin-bottom: 15px;

     > p {
       position: relative;
       display: inline-block;
       overflow: hidden;
    }
  }
}

.numbers {
  width: 35px;
  height: 35px;
  font-weight: @font-weight-bold;
  display: inline-block;
  border: 1px solid #d8d8d8;
  text-align: center;
  padding-top: 5px;
  margin-bottom: 50px;
  border-radius: 100%;
  margin-right: 20px;
  float: left;

  + code {
    color: @paypal-text;
    font-size: (@font-size-small - 2px);
    font-family: monospace;
    border: 1px solid #cbd2d6;
    background-color: #f5f7fa;
  }
}

.button {
  .btn-primary {
    border-radius: 25px;
    color: @paypal-button;
    background-color: @paypal-basic;
    padding: 13px 24px;
    font-size: @font-size-small;
    font-weight: @font-weight-bold;

    &:hover{
      background-color: @paypal-hover;
      border: 1px solid @paypal-hover;
    }
  }
}

footer {
  position: relative;
  margin-top: 70px;

  hr{
    border: 0;
    border-top: 1px dotted #b7bcbf;
    width: 100%;
  }
}

.footer-nav {
  margin-bottom: -15px;
  padding-left: 25px;

  a {
    color: #6c7378;
    text-transform: uppercase;
    font-size: (@font-size-small - 2px);
    padding-right: 10px;

    &:hover {
      color: @paypal-text;
      text-decoration: none;
    }
  }
}

.copyright{
  color: #9da3a6;
  font-size: @font-size-small;
  position: absolute;
  right: 15px;
  display: inline-block;

  li:first-child{

     &::after{
      content: "|";
      padding: 0 24px;
      font-size: (@font-size-base + 3px);
    }
  }

  .legal-links a{
    color: #9da3a6;
    display: inline-block;
    font-size: @font-size-small;

    &:hover{
      color: @paypal-text;
    }
  }
}

@media screen and (min-width: 768px) {
  .jumbotron{
    height: 340px;
  }

  .footer-nav a {
    width: 290px;
  }
   .how-container > ul {
    position: static;
  }
  .button .btn-primary{
    width: 340px;
    margin: 0 auto;
  }

  .navbar-position {
    .navbar-fixed-top;
  }

  .jumbotron{
    padding-top:    (@jumbotron-padding * 1.6); //48
    padding-bottom: (@jumbotron-padding * 1.6);

    .container {
      padding-left:  @jumbotron-padding; //30
      padding-right: @jumbotron-padding;
      width: 400px;
      position: absolute;
      left: 10px;
    }
  }
}


@media screen and (max-width: 642px) {
  .about-ex img {
    margin-top: 15px;
  }

  .copyright{
    text-align: left;
    position: absolute;
    left: 25px;

    .list-inline :first-child{
      display: block;
      margin-bottom: 20px;

    }

    ::after{
      display: none;
    }
  }
}

@media screen and (max-width: 767px) {
  :root {
  /* To accommodate navbar-static  */
      --clear-top: 0px;
  }

 .about-ex {
    padding-top: 5px;
  }

  .about-container {
    padding-top: 5px;
    max-height: 150px;
    margin-bottom: 8px;
  }
  .navbar-position {
    .navbar-static-top;
    width: 100%;
    margin-bottom: -8px;
  }
  .numbers {
    margin-bottom: 0px;
  }
  .get-container p {
    margin-bottom: -3px;
  }
}


/* To fix login button going to second line, I changed bootstrap grid-float-breakpoint
(the point at which the navbar becomes uncollapsed) to 1px in site variables document. */


